table {
    border-collapse: collapse;
}

tr, th, td { 
    border: 1px solid black;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: aliceblue;
}

thead th[scope="col"], th[scope="row"], th[scope="rowgroup"], colgroup col[span="2"] {
    background-color: lightgray;
}
