html {
  font-size: clamp(1em, 0.75rem + 1.5vw, 2em);
}
body {
  margin: 0 var(--metric-box-spacing);
}
:is(h1,h2,h3,p,li,article) {
  max-inline-size: 66ch;
  margin-block-start: var(--metric-box-spacing);
  line-height: 1.5;
}