* {
    outline: 0px solid red;
}

body {
    display: flex;
}

p {
    box-sizing: border-box;
    color: white;
    background-color: blueviolet;
    margin: 30px auto;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 10px solid gainsboro;
    box-shadow: 10px 10px 20px black;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 1s, box-shadow 1s;
}

p:hover{
    background-color: rgb(115, 21, 203);
    box-shadow: 2px 2px 20px black;
    transition: background-color 1s, box-shadow 1s;
}

